.contacts-container{
  display: grid;
  grid-template-rows: 15% 70% 15%;
  overflow: hidden;
  background-color: #080420;
}
.brand{
  display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    
}
.brand-image{
  height: 3rem;
}
.brand-heading{
  color: white;
  text-transform: uppercase;
}
.contacts{
  /* padding-top: 3rem; */
  display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
}
.contact{
  background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;
}
.avatar-image {
  height: 3rem;
}
.username{
  color:white;
}
.selected {
  background-color: #9a86f3;
}
.current-user{
  background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.current-avatar-image{
  height: 4rem;
  max-inline-size: 100%;
}
.username-text {
 
    color: white;
  
}